body {
  margin: 0;
  padding: 0;
  position: relative;
  align-items: center;
  box-sizing: border-box;
}

div {
  margin: 0;
  padding: 0;
}

#head-contain {
  position: absolute;
  width: 278px;
  height: 47px;
  left: 243px;
  top: 110px;
  font-family: PT Serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: -0.045em;
  color: #000000;
}

#main-head {
  position: absolute;
  width: 117px;
  height: 27px;
  left: 736px;
  top: 110px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  text-transform: uppercase;
  color: #000000;
}

#main-body {
  position: absolute;
  width: 439px;
  height: 87px;
  left: 736px;
  top: 147px;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  color: #000000;
}

figcaption,
.designation {
  position: absolute;
}

figcaption {
  width: 128px;
  height: 27px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  color: #000000;
}

.designation {
  width: 102px;
  height: 16px;
  font-family: PT Serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
  color: #000000;
  transform: rotate(90deg);
}

#col1 {
  position: absolute;
  width: 238px;
  height: 426.5px;
  left: 240px;
  top: 333px;
}

#desig1 {
  width: 102px;
  height: 16px;
  left: 205px;
  top: 48px;
}

#img1 {
  width: 238px;
  height: 341px;
  left: 240px;
  top: 330px;
  -webkit-transition: all 0.8s ease-in;
  transition: all 0.8s ease-in;
}

#col2 {
  position: absolute;
  width: 305.21px;
  height: 471px;
  left: 534.64px;
  top: 438px;
}

#desig2 {
  width: 102px;
  height: 16px;
  left: 205px;
  top: 48px;
}

#img2 {
  width: 238px;
  height: 341px;
  left: 240px;
  top: 330px;
  -webkit-transition: all 0.8s ease-in;
  transition: all 0.8s ease-in;
}

#col3 {
  position: absolute;
  width: 300.81px;
  height: 399.96px;
  left: 863.54px;
  top: 333px;
}

#desig3 {
  width: 102px;
  height: 16px;
  left: 205px;
  top: 48px;
}

#img3 {
  width: 238px;
  height: 341px;
  left: 240px;
  top: 330px;
  -webkit-transition: all 0.8s ease-in;
  transition: all 0.8s ease-in;
}

#col4 {
  position: absolute;
  width: 276.68px;
  height: 469px;
  left: 241px;
  top: 848px;
}

#desig4 {
  width: 102px;
  height: 16px;
  left: 205px;
  top: 48px;
}

#img4 {
  width: 238px;
  height: 341px;
  left: 240px;
  top: 330px;
  -webkit-transition: all 0.8s ease-in;
  transition: all 0.8s ease-in;
}

#col5 {
  position: absolute;
  width: 305.21px;
  height: 471px;
  left: 534.64px;
  top: 950px;
}

#desig5 {
  width: 102px;
  height: 16px;
  left: 205px;
  top: 48px;
}

#img5 {
  width: 238px;
  height: 341px;
  left: 240px;
  top: 330px;
  -webkit-transition: all 0.8s ease-in;
  transition: all 0.8s ease-in;
}

#col6 {
  position: absolute;
  width: 300.81px;
  height: 399.96px;
  left: 863.54px;
  top: 848px;
}

#desig6 {
  width: 102px;
  height: 16px;
  left: 205px;
  top: 48px;
}

#img6 {
  width: 238px;
  height: 341px;
  left: 240px;
  top: 330px;
  -webkit-transition: all 0.8s ease-in;
  transition: all 0.8s ease-in;
}

#img1:hover,
#img2:hover,
#img3:hover,
#img4:hover,
#img5:hover,
#img6:hover {
  -webkit-filter: grayscale(0.5);
  -webkit-transform: scale(1.03);
  -webkit-transform: rotate(0.5deg);
  filter: grayscale(0.5);
  transform: scale(1.03);
  transform: rotate(0.5deg);
}

.footer {
  font-family: Montserrat, sans-serif;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  vertical-align: top;
  text-align: center;
  align-items: center;
  color: #bdbdbd;
  padding-top: 1450px;
  padding-bottom: 10px;
}

a {
  text-decoration: none;
  color: #bdbdbd;
}

a:hover {
  color: #18a0fb;
}

@media only screen and (max-width: 375px) {
  #head-contain {
    position: absolute;
    width: 278px;
    height: 47px;
    left: 10px;
    top: 71px;
    font-size: 36px;
    line-height: 48px;
  }

  #main-head {
    position: absolute;
    width: 117px;
    height: 27px;
    left: 10px;
    top: 156px;
  }

  #main-body {
    position: absolute;
    width: 333px;
    height: 87px;
    left: 12px;
    top: 193px;
    font-size: 14px;
    line-height: 21px;
  }

  figcaption,
  .designation {
    position: absolute;
  }

  figcaption {
    width: 141px;
    height: 18px;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
  }

  .designation {
    width: 130px;
    height: 11px;
    font-size: 10px;
    line-height: 13px;
  }

  #col1 {
    position: absolute;
    width: 138.72px;
    height: 261.4px;
    left: 12px;
    top: 318px;
  }

  #desig1 {
    width: 102px;
    height: 16px;
    left: 100px;
    top: 45px;
  }

  #img1 {
    width: 138.72px;
    height: 209px;
  }

  #col2 {
    position: absolute;
    width: 177.42px;
    height: 283.69px;
    left: 185px;
    top: 366px;
  }

  #desig2 {
    width: 102px;
    height: 16px;
    left: 100px;
    top: 48px;
  }

  #img2 {
    width: 138.35px;
    height: 209px;
  }

  #col3 {
    position: absolute;
    width: 138.72px;
    height: 261.4px;
    left: 12px;
    top: 618px;
  }

  #desig3 {
    width: 102px;
    height: 16px;
    left: 100px;
    top: 45px;
  }

  #img3 {
    width: 138.72px;
    height: 209px;
  }

  #col4 {
    position: absolute;
    width: 177.42px;
    height: 283.69px;
    left: 185px;
    top: 667px;
  }

  #desig4 {
    width: 102px;
    height: 16px;
    left: 100px;
    top: 48px;
  }

  #img4 {
    width: 138.35px;
    height: 209px;
  }

  #col5 {
    position: absolute;
    width: 138.72px;
    height: 261.4px;
    left: 12px;
    top: 930px;
  }

  #desig5 {
    width: 102px;
    height: 16px;
    left: 100px;
    top: 45px;
  }

  #img5 {
    width: 138.72px;
    height: 209px;
  }

  #col6 {
    position: absolute;
    width: 177.42px;
    height: 283.69px;
    left: 185px;
    top: 979px;
  }

  #desig6 {
    width: 102px;
    height: 16px;
    left: 100px;
    top: 48px;
  }

  #img6 {
    width: 138.35px;
    height: 209px;
  }
}

@media only screen and (max-width: 410px) and (min-width: 375px) {
  body {
    overflow-x: hidden;
  }

  #head-contain {
    position: absolute;
    width: 278px;
    height: 47px;
    left: 25px;
    top: 71px;
    font-size: 36px;
    line-height: 48px;
  }

  #main-head {
    position: absolute;
    width: 117px;
    height: 27px;
    left: 25px;
    top: 156px;
  }

  #main-body {
    position: absolute;
    width: 333px;
    height: 87px;
    left: 27px;
    top: 193px;
    font-size: 14px;
    line-height: 21px;
  }

  figcaption,
  .designation {
    position: absolute;
  }

  figcaption {
    width: 141px;
    height: 18px;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
  }

  .designation {
    width: 130px;
    height: 11px;
    font-size: 10px;
    line-height: 13px;
  }

  #col1 {
    position: absolute;
    width: 138.72px;
    height: 261.4px;
    left: 27px;
    top: 318px;
  }

  #desig1 {
    width: 102px;
    height: 16px;
    left: 100px;
    top: 45px;
  }

  #img1 {
    width: 138.72px;
    height: 209px;
  }

  #col2 {
    position: absolute;
    width: 177.42px;
    height: 283.69px;
    left: 200px;
    top: 366px;
  }

  #desig2 {
    width: 102px;
    height: 16px;
    left: 100px;
    top: 48px;
  }

  #img2 {
    width: 138.35px;
    height: 209px;
  }

  #col3 {
    position: absolute;
    width: 138.72px;
    height: 261.4px;
    left: 27px;
    top: 618px;
  }

  #desig3 {
    width: 102px;
    height: 16px;
    left: 100px;
    top: 45px;
  }

  #img3 {
    width: 138.72px;
    height: 209px;
  }

  #col4 {
    position: absolute;
    width: 177.42px;
    height: 283.69px;
    left: 200px;
    top: 667px;
  }

  #desig4 {
    width: 102px;
    height: 16px;
    left: 100px;
    top: 48px;
  }

  #img4 {
    width: 138.35px;
    height: 209px;
  }

  #col5 {
    position: absolute;
    width: 138.72px;
    height: 261.4px;
    left: 27px;
    top: 930px;
  }

  #desig5 {
    width: 102px;
    height: 16px;
    left: 100px;
    top: 45px;
  }

  #img5 {
    width: 138.72px;
    height: 209px;
  }

  #col6 {
    position: absolute;
    width: 177.42px;
    height: 283.69px;
    left: 200px;
    top: 979px;
  }

  #desig6 {
    width: 102px;
    height: 16px;
    left: 100px;
    top: 48px;
  }

  #img6 {
    width: 138.35px;
    height: 209px;
  }
}

@media only screen and (max-width: 470px) and (min-width: 410px) {
  body {
    overflow-x: hidden;
    align-items: center;
  }

  #head-contain {
    position: absolute;
    width: 278px;
    height: 47px;
    left: 30px;
    top: 71px;
    font-size: 36px;
    line-height: 48px;
  }

  #main-head {
    position: absolute;
    width: 117px;
    height: 27px;
    left: 30px;
    top: 156px;
  }

  #main-body {
    position: absolute;
    width: 333px;
    height: 87px;
    left: 32px;
    top: 193px;
    font-size: 14px;
    line-height: 21px;
  }

  figcaption,
  .designation {
    position: absolute;
  }

  figcaption {
    width: 141px;
    height: 18px;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
  }

  .designation {
    width: 130px;
    height: 11px;
    font-size: 10px;
    line-height: 13px;
  }

  #col1 {
    position: absolute;
    width: 138.72px;
    height: 261.4px;
    left: 32px;
    top: 318px;
  }

  #desig1 {
    width: 102px;
    height: 16px;
    left: 100px;
    top: 45px;
  }

  #img1 {
    width: 138.72px;
    height: 209px;
  }

  #col2 {
    position: absolute;
    width: 177.42px;
    height: 283.69px;
    left: 205px;
    top: 366px;
  }

  #desig2 {
    width: 102px;
    height: 16px;
    left: 100px;
    top: 48px;
  }

  #img2 {
    width: 138.35px;
    height: 209px;
  }

  #col3 {
    position: absolute;
    width: 138.72px;
    height: 261.4px;
    left: 32px;
    top: 618px;
  }

  #desig3 {
    width: 102px;
    height: 16px;
    left: 100px;
    top: 45px;
  }

  #img3 {
    width: 138.72px;
    height: 209px;
  }

  #col4 {
    position: absolute;
    width: 177.42px;
    height: 283.69px;
    left: 205px;
    top: 667px;
  }

  #desig4 {
    width: 102px;
    height: 16px;
    left: 100px;
    top: 48px;
  }

  #img4 {
    width: 138.35px;
    height: 209px;
  }

  #col5 {
    position: absolute;
    width: 138.72px;
    height: 261.4px;
    left: 32px;
    top: 930px;
  }

  #desig5 {
    width: 102px;
    height: 16px;
    left: 100px;
    top: 45px;
  }

  #img5 {
    width: 138.72px;
    height: 209px;
  }

  #col6 {
    position: absolute;
    width: 177.42px;
    height: 283.69px;
    left: 205px;
    top: 979px;
  }

  #desig6 {
    width: 102px;
    height: 16px;
    left: 100px;
    top: 48px;
  }

  #img6 {
    width: 138.35px;
    height: 209px;
  }
}

@media only screen and (max-width: 500px) and (min-width: 470px) {
  body {
    overflow-x: hidden;
    align-items: center;
    transform: scale(1.2);
  }

  #head-contain {
    position: absolute;
    width: 278px;
    height: 47px;
    left: 75px;
    top: 200px;
    font-size: 36px;
    line-height: 48px;
  }

  #main-head {
    position: absolute;
    width: 117px;
    height: 27px;
    left: 75px;
    top: 256px;
  }

  #main-body {
    position: absolute;
    width: 333px;
    height: 87px;
    left: 77px;
    top: 293px;
    font-size: 14px;
    line-height: 21px;
  }

  figcaption,
  .designation {
    position: absolute;
  }

  figcaption {
    width: 141px;
    height: 18px;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
  }

  .designation {
    width: 130px;
    height: 11px;
    font-size: 10px;
    line-height: 13px;
  }

  #col1 {
    position: absolute;
    width: 138.72px;
    height: 261.4px;
    left: 79px;
    top: 416px;
  }

  #desig1 {
    width: 102px;
    height: 16px;
    left: 100px;
    top: 45px;
  }

  #img1 {
    width: 138.72px;
    height: 209px;
  }

  #col2 {
    position: absolute;
    width: 177.42px;
    height: 283.69px;
    left: 250px;
    top: 466px;
  }

  #desig2 {
    width: 102px;
    height: 16px;
    left: 100px;
    top: 48px;
  }

  #img2 {
    width: 138.35px;
    height: 209px;
  }

  #col3 {
    position: absolute;
    width: 138.72px;
    height: 261.4px;
    left: 79px;
    top: 718px;
  }

  #desig3 {
    width: 102px;
    height: 16px;
    left: 100px;
    top: 45px;
  }

  #img3 {
    width: 138.72px;
    height: 209px;
  }

  #col4 {
    position: absolute;
    width: 177.42px;
    height: 283.69px;
    left: 250px;
    top: 768px;
  }

  #desig4 {
    width: 102px;
    height: 16px;
    left: 100px;
    top: 48px;
  }

  #img4 {
    width: 138.35px;
    height: 209px;
  }

  #col5 {
    position: absolute;
    width: 138.72px;
    height: 261.4px;
    left: 79px;
    top: 1020px;
  }

  #desig5 {
    width: 102px;
    height: 16px;
    left: 100px;
    top: 45px;
  }

  #img5 {
    width: 138.72px;
    height: 209px;
  }

  #col6 {
    position: absolute;
    width: 177.42px;
    height: 283.69px;
    left: 250px;
    top: 1070px;
  }

  #desig6 {
    width: 102px;
    height: 16px;
    left: 100px;
    top: 48px;
  }

  #img6 {
    width: 138.35px;
    height: 209px;
  }
}

@media only screen and (max-width: 550px) and (min-width: 500px) {
  body {
    overflow-x: hidden;
    align-items: center;
    transform: scale(1.2);
  }

  #head-contain {
    position: absolute;
    width: 278px;
    height: 47px;
    left: 95px;
    top: 200px;
    font-size: 36px;
    line-height: 48px;
  }

  #main-head {
    position: absolute;
    width: 117px;
    height: 27px;
    left: 95px;
    top: 256px;
  }

  #main-body {
    position: absolute;
    width: 333px;
    height: 87px;
    left: 97px;
    top: 293px;
    font-size: 14px;
    line-height: 21px;
  }

  figcaption,
  .designation {
    position: absolute;
  }

  figcaption {
    width: 141px;
    height: 18px;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
  }

  .designation {
    width: 130px;
    height: 11px;
    font-size: 10px;
    line-height: 13px;
  }

  #col1 {
    position: absolute;
    width: 138.72px;
    height: 261.4px;
    left: 99px;
    top: 416px;
  }

  #desig1 {
    width: 102px;
    height: 16px;
    left: 100px;
    top: 45px;
  }

  #img1 {
    width: 138.72px;
    height: 209px;
  }

  #col2 {
    position: absolute;
    width: 177.42px;
    height: 283.69px;
    left: 270px;
    top: 466px;
  }

  #desig2 {
    width: 102px;
    height: 16px;
    left: 100px;
    top: 48px;
  }

  #img2 {
    width: 138.35px;
    height: 209px;
  }

  #col3 {
    position: absolute;
    width: 138.72px;
    height: 261.4px;
    left: 99px;
    top: 718px;
  }

  #desig3 {
    width: 102px;
    height: 16px;
    left: 100px;
    top: 45px;
  }

  #img3 {
    width: 138.72px;
    height: 209px;
  }

  #col4 {
    position: absolute;
    width: 177.42px;
    height: 283.69px;
    left: 270px;
    top: 768px;
  }

  #desig4 {
    width: 102px;
    height: 16px;
    left: 100px;
    top: 48px;
  }

  #img4 {
    width: 138.35px;
    height: 209px;
  }

  #col5 {
    position: absolute;
    width: 138.72px;
    height: 261.4px;
    left: 99px;
    top: 1020px;
  }

  #desig5 {
    width: 102px;
    height: 16px;
    left: 100px;
    top: 45px;
  }

  #img5 {
    width: 138.72px;
    height: 209px;
  }

  #col6 {
    position: absolute;
    width: 177.42px;
    height: 283.69px;
    left: 270px;
    top: 1070px;
  }

  #desig6 {
    width: 102px;
    height: 16px;
    left: 100px;
    top: 48px;
  }

  #img6 {
    width: 138.35px;
    height: 209px;
  }
}

@media only screen and (max-width: 600px) and (min-width: 550px) {
  body {
    margin-top: 71px;
    overflow-x: hidden;
    align-items: center;
    transform: scale(1.3);
  }

  #head-contain {
    position: absolute;
    width: 278px;
    height: 47px;
    left: 125px;
    top: 200px;
    font-size: 36px;
    line-height: 48px;
  }

  #main-head {
    position: absolute;
    width: 117px;
    height: 27px;
    left: 125px;
    top: 256px;
  }

  #main-body {
    position: absolute;
    width: 333px;
    height: 87px;
    left: 127px;
    top: 293px;
    font-size: 14px;
    line-height: 21px;
  }

  figcaption,
  .designation {
    position: absolute;
  }

  figcaption {
    width: 141px;
    height: 18px;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
  }

  .designation {
    width: 130px;
    height: 11px;
    font-size: 10px;
    line-height: 13px;
  }

  #col1 {
    position: absolute;
    width: 138.72px;
    height: 261.4px;
    left: 129px;
    top: 416px;
  }

  #desig1 {
    width: 102px;
    height: 16px;
    left: 100px;
    top: 45px;
  }

  #img1 {
    width: 138.72px;
    height: 209px;
  }

  #col2 {
    position: absolute;
    width: 177.42px;
    height: 283.69px;
    left: 300px;
    top: 466px;
  }

  #desig2 {
    width: 102px;
    height: 16px;
    left: 100px;
    top: 48px;
  }

  #img2 {
    width: 138.35px;
    height: 209px;
  }

  #col3 {
    position: absolute;
    width: 138.72px;
    height: 261.4px;
    left: 129px;
    top: 718px;
  }

  #desig3 {
    width: 102px;
    height: 16px;
    left: 100px;
    top: 45px;
  }

  #img3 {
    width: 138.72px;
    height: 209px;
  }

  #col4 {
    position: absolute;
    width: 177.42px;
    height: 283.69px;
    left: 300px;
    top: 768px;
  }

  #desig4 {
    width: 102px;
    height: 16px;
    left: 100px;
    top: 48px;
  }

  #img4 {
    width: 138.35px;
    height: 209px;
  }

  #col5 {
    position: absolute;
    width: 138.72px;
    height: 261.4px;
    left: 129px;
    top: 1020px;
  }

  #desig5 {
    width: 102px;
    height: 16px;
    left: 100px;
    top: 45px;
  }

  #img5 {
    width: 138.72px;
    height: 209px;
  }

  #col6 {
    position: absolute;
    width: 177.42px;
    height: 283.69px;
    left: 300px;
    top: 1070px;
  }

  #desig6 {
    width: 102px;
    height: 16px;
    left: 100px;
    top: 48px;
  }

  #img6 {
    width: 138.35px;
    height: 209px;
  }
}

@media only screen and (max-width: 649px) and (min-width: 600px) {
  body {
    margin-top: 120px;
    overflow-x: hidden;
    align-items: center;
    transform: scale(1.4);
  }

  #head-contain {
    position: absolute;
    width: 278px;
    height: 47px;
    left: 155px;
    top: 200px;
    font-size: 36px;
    line-height: 48px;
  }

  #main-head {
    position: absolute;
    width: 117px;
    height: 27px;
    left: 155px;
    top: 256px;
  }

  #main-body {
    position: absolute;
    width: 333px;
    height: 87px;
    left: 157px;
    top: 293px;
    font-size: 14px;
    line-height: 21px;
  }

  figcaption,
  .designation {
    position: absolute;
  }

  figcaption {
    width: 141px;
    height: 18px;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
  }

  .designation {
    width: 130px;
    height: 11px;
    font-size: 10px;
    line-height: 13px;
  }

  #col1 {
    position: absolute;
    width: 138.72px;
    height: 261.4px;
    left: 159px;
    top: 416px;
  }

  #desig1 {
    width: 102px;
    height: 16px;
    left: 100px;
    top: 45px;
  }

  #img1 {
    width: 138.72px;
    height: 209px;
  }

  #col2 {
    position: absolute;
    width: 177.42px;
    height: 283.69px;
    left: 330px;
    top: 466px;
  }

  #desig2 {
    width: 102px;
    height: 16px;
    left: 100px;
    top: 48px;
  }

  #img2 {
    width: 138.35px;
    height: 209px;
  }

  #col3 {
    position: absolute;
    width: 138.72px;
    height: 261.4px;
    left: 159px;
    top: 718px;
  }

  #desig3 {
    width: 102px;
    height: 16px;
    left: 100px;
    top: 45px;
  }

  #img3 {
    width: 138.72px;
    height: 209px;
  }

  #col4 {
    position: absolute;
    width: 177.42px;
    height: 283.69px;
    left: 330px;
    top: 768px;
  }

  #desig4 {
    width: 102px;
    height: 16px;
    left: 100px;
    top: 48px;
  }

  #img4 {
    width: 138.35px;
    height: 209px;
  }

  #col5 {
    position: absolute;
    width: 138.72px;
    height: 261.4px;
    left: 159px;
    top: 1020px;
  }

  #desig5 {
    width: 102px;
    height: 16px;
    left: 100px;
    top: 45px;
  }

  #img5 {
    width: 138.72px;
    height: 209px;
  }

  #col6 {
    position: absolute;
    width: 177.42px;
    height: 283.69px;
    left: 330px;
    top: 1070px;
  }

  #desig6 {
    width: 102px;
    height: 16px;
    left: 100px;
    top: 48px;
  }

  #img6 {
    width: 138.35px;
    height: 209px;
  }
}

@media only screen and (max-width: 700px) and (min-width: 649px) {
  body {
    overflow-x: hidden;
    align-items: center;
  }

  #head-contain {
    left: 50px;
    top: 110px;
  }

  #main-head {
    left: 50px;
    top: 200px;
  }

  #main-body {
    left: 50px;
    top: 240px;
  }

  #col1 {
    left: 50px;
    top: 400px;
  }

  #col2 {
    left: 350px;
    top: 500px;
  }

  #col3 {
    left: 50px;
    top: 900px;
  }

  #col4 {
    left: 350px;
    top: 965px;
  }

  #col5 {
    left: 50px;
    top: 1400px;
  }

  #col6 {
    left: 350px;
    top: 1465px;
  }

  .footer {
    padding-top: 2050px;
  }
}

@media only screen and (max-width: 900px) and (min-width: 700px) {
  body {
    overflow-x: hidden;
    align-items: center;
  }

  #head-contain {
    left: 100px;
    top: 110px;
  }

  #main-head {
    left: 100px;
    top: 200px;
  }

  #main-body {
    left: 100px;
    top: 240px;
  }

  #col1 {
    left: 100px;
    top: 400px;
  }

  #col2 {
    left: 400px;
    top: 500px;
  }

  #col3 {
    left: 100px;
    top: 900px;
  }

  #col4 {
    left: 400px;
    top: 965px;
  }

  #col5 {
    left: 100px;
    top: 1400px;
  }

  #col6 {
    left: 400px;
    top: 1465px;
  }

  .footer {
    padding-top: 2050px;
  }
}

@media only screen and (max-width: 1000px) and (min-width: 900px) {
  body {
    align-items: center;
  }

  #head-contain {
    left: 150px;
    top: 110px;
  }

  #main-head {
    left: 150px;
    top: 200px;
  }

  #main-body {
    left: 150px;
    top: 240px;
  }

  #col1 {
    left: 150px;
    top: 400px;
  }

  #col2 {
    left: 450px;
    top: 500px;
  }

  #col3 {
    left: 150px;
    top: 900px;
  }

  #col4 {
    left: 450px;
    top: 965px;
  }

  #col5 {
    left: 150px;
    top: 1400px;
  }

  #col6 {
    left: 450px;
    top: 1465px;
  }

  .footer {
    padding-top: 2050px;
  }
}

@media only screen and (max-width: 1100px) and (min-width: 1000px) {
  body {
    align-items: center;
    overflow-x: hidden;
  }

  #head-contain {
    left: 43px;
    top: 110px;
  }

  #main-head {
    left: 536px;
    top: 110px;
  }

  #main-body {
    left: 536px;
    top: 147px;
  }

  #col1 {
    left: 40px;
    top: 333px;
  }

  #col2 {
    left: 334.64px;
    top: 438px;
  }

  #col3 {
    left: 663.54px;
    top: 333px;
  }

  #col4 {
    left: 40px;
    top: 848px;
  }

  #col5 {
    left: 334.64px;
    top: 950px;
  }

  #col6 {
    left: 663.54px;
    top: 848px;
  }
}

@media only screen and (max-width: 1200px) and (min-width: 1100px) {
  body {
    align-items: center;
    overflow-x: hidden;
  }

  #head-contain {
    left: 143px;
    top: 110px;
  }

  #main-head {
    left: 636px;
    top: 110px;
  }

  #main-body {
    left: 636px;
    top: 147px;
  }

  #col1 {
    left: 140px;
    top: 333px;
  }

  #col2 {
    left: 434.64px;
    top: 438px;
  }

  #col3 {
    left: 763.54px;
    top: 333px;
  }

  #col4 {
    left: 140px;
    top: 848px;
  }

  #col5 {
    left: 434.64px;
    top: 950px;
  }

  #col6 {
    left: 763.54px;
    top: 848px;
  }
}
